<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home page <%= 4+5+1 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est
      consequuntur itaque officia, laborum neque nisi ipsum nobis officiis sit
      iure nemo harum numquam at, veniam voluptatum hic vitae quisquam!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est
      consequuntur itaque officia, laborum neque nisi ipsum nobis officiis sit
      iure nemo harum numquam at, veniam voluptatum hic vitae quisquam!
    </p>
  </body>
</html>
