html {
  height: 100%;
}

body {
  background-color: lightgray;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

section.search {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  border-bottom: 1px solid #656565;
  box-shadow: 1px 2px 10px black;
}

.posters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poster {
  margin: 10px 10px;
}
